$body-bg: #181818;
$body-color: white;
$primary: rgb(0, 208, 255);

$font-family-sans-serif: "Poppins", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
@import "../node_modules/bootstrap/scss/bootstrap";

.navbar-collapse {
  justify-content: flex-end;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.custombg {
  background-size: cover;
}

.card {
  border: none;
  border-radius: 20px;

  .card-body {
    border: none;
    background-color: #2e2e2e;
    border-radius: 10px;

    p {
      color: #c2c2c2;
    }
  }

  .card-img-top {
    width: 50px;
    height: 50px;
  }

  img {
      height: 200px;
      width: 200px;
  }
}

.btn-primary {
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.6;
    background-color: #1dbde1;
  }
}
